@font-face {
    font-family: 'Brandon Grotesque Regular';
    src: url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Grotesque RegularItalic';
    src: url('../fonts/HvDTrial_BrandonGrotesque-RegularItalic.woff2') format('woff2'),
        url('../fonts/HvDTrial_BrandonGrotesque-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque Medium';
    src: url('../fonts/HvDTrial_BrandonGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/HvDTrial_BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Grotesque Bold';
    src: url('../fonts/HvDTrial_BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/HvDTrial_BrandonGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}





