img {
    max-width: 100%;
}

body,
html {
    overflow-x: hidden;
}

html {
    min-height: 100vh;
}

button {
    background-color: transparent;
    border: none;
}

body {
    height: 100vh;
    font-size: 18px;
    color: #000;
    letter-spacing: 0.03em;
    font-family: 'Brandon Grotesque Regular';
}

i.lni {
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    color: rgb(9 37 64);

}

.fw-regular {
    font-family: 'Brandon Grotesque Regular' !important;
    font-weight: normal;
}

.fw-medium {
    font-family: 'Brandon Grotesque Medium' !important;
    font-weight: normal;
}

.fw-bold {
    font-family: 'Brandon Grotesque Bold' !important;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

p small {
    font-size: 70%;
}

h1,
.h1 {
    font-family: 'Brandon Grotesque Medium';
    font-size: 42px;
    font-weight: 500;
}


h2,
.h2 {
    font-family: 'Brandon Grotesque Medium';
    font-size: 26px;
    font-weight: 500;
}

h3,
.h3 {
    font-size: 25px;

}

h4,
.h4 {
    font-size: 20px;
    font-family: 'Brandon Grotesque Medium';

}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 14px;
}

hr {
    margin: 30px 0 40px 0;
    opacity: 0.8;
    border-color: #dce9ee;
}

.mb-05 {
    margin-bottom: 5px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mb-3 {
    margin-bottom: 30px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.mb-5 {
    margin-bottom: 50px !important;
}

.mb-6 {
    margin-bottom: 60px !important;
}

.mb-7 {
    margin-bottom: 70px !important;
}

.mb-10 {
    margin-bottom: 100px !important;
}

.p-10 {
    padding: 100px 0 !important;
}

.p-10.topOff {
    padding-top: 0 !important;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Brandon Grotesque Medium';
    white-space: nowrap;
}

.btn i.lni {
    font-size: 18px;
}

.btn.btn-lg {
    padding: 15px 25px;
    font-size: 14px;
}

.btn.btn-icon {
    padding: 12px 12px;
}

.btn.btn-icon i {
    display: block;
}

.btn.btn-sm {
    padding: 8px 15px;
}

.btn-fb {
    background-color: #3b5998;
    color: #fff;
}

.btn-fb:hover {
    background-color: #49639d;
    color: #fff;
}

.btn-ios {
    background-color: #000000;
    color: #fff;
}

.btn-ios:hover {
    background-color: #232323;
    color: #fff;
}

.btn-link {
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #ffbb34;
}

.btn-link:hover {
    color: #000;
}

.btn-link i.lni {
    font-size: 16px;
}

.btn.roundIconBtn {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 0;
}

.btn.roundIconBtn .material-symbols-outlined {
    font-size: 18px;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    color: #b9b9b9;
    padding: 17px 15px;
    font-size: 14px;
    box-shadow: none;
    z-index: 2;
    position: relative;
    height: auto;
    font-family: 'Brandon Grotesque Medium';
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

.form-control:focus {
    box-shadow: none;
    border-color: #f0f0f0;
}

.input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-dark {
    background-color: #363a3d !important;
    border-color: #363a3d !important;
}

.btn-dark:hover,
.btn-dark:focus {
    background-color: #3e4245 !important;
    border-color: #3e4245 !important;
}

.btn-primary {
    background-color: #ffbb34 !important;
    border-color: #ffbb34 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #fcc24d !important;
    border-color: #fcc24d !important;
}

.btn-info {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
}

.btn-info:hover,
.btn-info:focus {
    background-color: #141414 !important;
    border-color: #141414 !important;
    color: #fff !important;
}

.btn-success {
    background-color: #01c851 !important;
    border-color: #01c851 !important;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #05de5c !important;
    border-color: #05de5c !important;
}

.btn-danger {
    background-color: #fe4543 !important;
    border-color: #fe4543 !important;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #fb4e4b !important;
    border-color: #fb4e4b !important;
}

.btn-outline-primary {
    border-color: #ffbb34 !important;
    color: #ffbb34 !important;
}


.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary.active {
    border-color: #ffbb34 !important;
    color: #fff !important;
    background-color: #ffbb34 !important;
}

.bg-primary {
    background-color: #f3b818 !important;
}

.text-bg-primary {
    background-color: #f3b818 !important;
}

.bg-success {
    background-color: #01c851 !important;
}

.bg-danger {
    background-color: #fe4543 !important;
}

.text-dark {
    color: rgb(9 37 64) !important;
}

.text-primary {
    color: #ffbb34 !important;
}

.text-muted {
    color: #b9b9b9 !important;
}

.text-success {
    color: #01c851 !important;
}

.text-danger {
    color: #fe4543 !important;
}

.text-warning {
    color: #ffbb34 !important;
}

.badge {
    font-family: 'Brandon Grotesque Regular';
    font-weight: normal;
}

.badge.round {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding: 0;
    text-align: center;
    font-size: 13px;
}

header {
    position: sticky;
    z-index: 9;
    top: 0;
}

.announcementBar {
    position: relative;
    padding: 10px 30px 10px 15px;
    background-color: #000000;
}

.announcBarUserImg {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    min-width: 40px;
    max-width: 40px;
}

.announcBarUserImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.announcBarMsg {
    font-size: 18px;
    line-height: 1em;
}

.navBox li {
    font-size: 15px;
    line-height: 85px;
    text-transform: uppercase;
    color: #fff;
    border-left: 1px solid #f5c646;
    font-family: 'Brandon Grotesque Medium';
}

.navBox li:last-child {
    border-right: 1px solid #f5c646;
}

.navBox li a {
    padding: 0px 15px;
    display: block;
}

.navBox li a:hover,
.navBox li a.active {
    color: #59450f;
}


.appBar {
    position: relative;
    padding: 10px;
    text-align: center;
    background-color: #ff9000;
}

.borderHeading {
    border-left: solid 2px #e3a90d;
    padding-left: 20px;

}

.breweryBox {
    padding: 30px;
    border: solid 1px #f5f5f5;
    border-radius: 4px;
}

.fixImg img {
    width: 100%;
    height: auto;
}

.breweryBoxImg {
    max-width: 220px;
    padding: 13px;
    border: solid 1px #f4f4f4;
    background-color: #fff;
    margin-left: -60px;
}

.breweryBoxDes {
    width: 100%;
}

.closeBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.closeBtn i {
    display: block;
}

footer {
    padding: 60px 0;
}

.footerTop {
    padding-bottom: 60px;
}

.footerBottom {
    border-top: 1px solid #f7cd5e;
    padding-top: 45px;

}

.footerLinks li:after {
    content: '|';
    vertical-align: middle;
    margin: 0 10px;
}

.footerLinks li {
    display: flex;
    align-items: center;
}

.footerLinks li a:hover {
    color: #59450f;
}

.footerLinks li:last-child::after {
    display: none;
}

.aboutSec {
    background-image: url("../img/about-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #f3b818;
    padding: 100px 0 50px 0;
    position: relative;

}

.aboutSec p {
    font-size: 22px;
    line-height: 1.6em;
}

.aboutSec:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25%;
    content: '';
    background-color: #f3b818;
    z-index: 1;
}

.beerImg {
    position: relative;
    z-index: 2;
}

.beerImg img {
    width: 150%;
    height: auto;
    max-width: inherit;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.socialIcons ul li a {
    color: #fff;
    border-radius: 50%;
    display: block;
    border: solid 2px #fff;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcons ul li a i.lni {
    font-size: 20px;
}

.socialIcons ul li a:hover {
    background-color: #fff;
    color: #f3b818;
}

.formBox {
    padding: 40px 4vw;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.formBoxHold {
    position: relative;
}

.formBoxHold::after {
    content: " ";
    background: url(../img/box-shadow.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: bottom center;
    height: 40px;
    width: 100%;
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -17px;
}

.googleMap {
    aspect-ratio: 1/.4;
    background-color: #e7e7e7;
}

.homeSearch {
    margin-top: -115px;
}

.mapText {
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    color: #dddddd;
}

.searchFormBottom {
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
    margin-top: 10px;
}

select.form-control.rangeDropDown {
    background-color: #f3b818;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-image: url(../img/dropdown-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    color: #fff;
}

.visitorImg {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
    min-width: 40px;
    max-width: 40px;
}

.visitorImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.innerbanner h1 {
    font-size: 65px;
    line-height: 1em;

}

.visitorList .visitorImg {
    min-width: 55px;
    max-width: 55px;
}

.visitorList li {
    border-bottom: solid 1px #f5f5f5;
    padding: 10px 0;
}

.visitorList li:last-child {
    border: none;
}


.innerBannerDes {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}



.subscriptionBox {
    background: #fff;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, .05);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 30px;
}

.subscriptionBox.active .subscriptionBoxHead {
    background-color: #f1ae1c;
}

.subscriptionBoxHead {
    font-weight: 500;
    background-color: #d0d0cf;
    color: #000000;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 4px 4px 0 0;
    padding-left: 15px;
    padding-right: 15px;
}

.subscriptionBoxHead p {
    color: #fff;
    font-size: 13px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 3px;
    line-height: normal;
    text-transform: capitalize;
}

.subscriptionPrice {
    display: block;
    font-size: 14px;
    padding-top: 5px;
}

.subscriptionBoxBody {
    padding: 30px 20px;
}

.subscriptionBoxBody ul li {
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
    position: relative;
    padding-left: 26px;
}

.subscriptionBoxBody ul li:before {
    content: '\2713';
    position: absolute;
    top: -3px;
    left: 0;
    color: #f1ae1c;
    font-size: 20px;
}

.subscriptionBoxFooter {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #f1f1f1;
}

.modal-content:before {
    content: '';
    border-top: solid 10px #f3b818;
    border-radius: 6px 6px 0 0;
}

.modal-content .btn-close {
    position: absolute;
    top: -9px;
    right: -9px;
    height: 18px;
    width: 18px;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
    color: #000;
    z-index: 2;
}

.modal-content .btn-close i.lni {
    font-size: 12px;
    line-height: normal;
    display: block;
}

.thumbBox {
    border: solid 1px #f5f5f5;
}

.thumbDes {
    padding: 10px;
    border-top: solid 1px #f5f5f5;
}

.thumbBoxImg {
    aspect-ratio: 1/.65;
}

.thumbBoxImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleBorder {
    background-color: #e5e5e5;
    height: 1px;
}

.profileLeft {
    min-width: 350px;
    max-width: 350px;
    border-right: solid 1px #f5f5f5;
    padding-right: 30px;
}

.profileRight {
    padding-left: 30px;
}

.profileImg {
    border-radius: 50%;
    overflow: hidden;
}

.profileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.roundBox {
    border: solid 1px #f5f5f5;
    border-radius: 6px;
    padding: 24px;
}

.listItem {
    border: solid 1px #f5f5f5;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 5px;

}

.listItem .visitorImg {
    min-width: 50px;
    max-width: 50px;
}

.inviteFrndBox i.lni {
    font-size: 50px;
}

table.table thead th {
    text-transform: uppercase;
    background-color: #f3b818;
    color: #fff;
    font-size: 16px;
    padding: 14px;
    vertical-align: top;
}

.table> :not(caption)>*>*,
.table-bordered> :not(caption)>* {
    border-color: #f5f5f5;
}

.table> :not(caption)>*>* {
    padding: 12px;
    vertical-align: middle;
}

table.table tr:last-child td {
    border-radius: 0 0 5px 5px;
}

.table>thead {
    vertical-align: top;
}

.tabContent {
    display: none;
}

.tabContent.active {
    display: block;
}

.profileImgBlock {
    border-radius: 50%;
    overflow: hidden;
}

.profileImgBlock:hover .profileImgChange {
    display: block;
}

.profileImgChange {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);

}

.profileEditBtn i.lni {
    font-size: 34px;
}

.profileImgChangeInner {
    width: 100%;
    height: 100%;
}

.flotingBox {
    margin-top: -115px;
}

.flotingBoxContent {
    padding: 60px 4vw;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.detailsGallery li {
    width: calc(33.3% - 0.5rem);
    aspect-ratio: 1;
}
.detailsGallery li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

dt {
    float: left;
    font-weight: normal;
    width: 100px;
}

dd {
    overflow: hidden;
    margin-bottom: 8px;
}

.commentText p:last-child {
    margin-bottom: 0;
}
.childCommentHold{
    padding: 20px 0;
}
.childComment {
    border-left: 5px solid #f0f0f0;
    margin: 10px 0 10px 25px;
    padding: 8px 0 8px 10px;
}
.dataTableBox header{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 10px;
    position: static;
    align-items: center;
}
.dataTableBox header .form-control{
    width: 220px;
    padding: 13px 15px;
}
@media (max-width: 1600px) {
    .container-fluid {
        padding: 0px 60px;
    }

}

@media (max-width: 1366px) {
    .navBox li {
        font-size: 12.5px;
    }

    .navBox li a {
        padding: 0px 10px;
    }
}

@media (max-width: 1199.98px) {
    i.lni {
        font-size: 19px;
    }

    h1,
    .h1 {
        font-size: 32px;
    }

    h2,
    .h2 {
        font-size: 22px;
    }

    h3,
    .h3 {
        font-size: 19px;
    }

    h4,
    .h4 {
        font-size: 17px;
    }

    h5,
    .h5 {
        font-size: 14px;
    }

    .p-10 {
        padding: 70px 0 !important;
    }

    .btn {
        font-size: 10px;
        padding: 10px 15px;
    }

    .btn.btn-icon {
        padding: 8.4px 12px;
    }

    .container-fluid {
        padding: 0px 40px;
    }

    .navBox li {
        font-size: 11px;
        line-height: 70px;
    }

    .logo {
        width: 90px;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .aboutSec p {
        font-size: 16px;
        line-height: 1.5em;
    }

    .formBoxHold::after {

        margin-top: -22px;
        background-size: 1199px auto;
    }

    .profileLeft {
        min-width: 270px;
        max-width: 270px;
        padding-right: 20px;
    }

    .profileRight {
        padding-left: 20px;
    }

    .roundBox {
        padding: 17px;
    }
}

@media (max-width: 991.98px) {
    .mb-10 {
        margin-bottom: 60px !important;
    }

    .btn.btn-lg {
        padding: 15px 25px;
        font-size: 12px;
    }

    h2,
    .h2 {
        font-size: 20px;
    }

    h3,
    .h3 {
        font-size: 17px;
    }

    h4,
    .h4 {
        font-size: 15px;
    }

    h5,
    .h5 {
        font-size: 12.5px;
    }

    .announcBarMsg {
        font-size: 15px;
    }

    .breweryBoxDesTop {
        margin-bottom: 10px;
    }

    .aboutSec {

        padding-top: 70px;
    }

    .aboutSec p {
        font-size: 14px;
        line-height: 1.3em;
    }

    .beerImg {
        margin-top: 80px;
    }

    .beerImg img {
        width: 120%;
    }

    .logo {
        margin: 8px 0;
    }

    .navBox {
        position: absolute;
        left: 0;
        top: 100%;
        right: 0;
        z-index: 9;
        background-color: #f3b818;
        padding-bottom: 10px;
        display: none;
    }

    .navBox.open {
        display: block;
    }

    .navBox li {
        font-size: 17px;
        line-height: normal;
        margin: 10px 0 15px 0;
        text-align: center;
    }

    .menuIcon {
        cursor: pointer;
    }

    .menuIcon i.lni {
        font-size: 30px;
        color: #fff;
    }

    .formBoxHold::after {
        margin-top: -25px;
        background-size: 992px auto;
    }

    .innerbanner h1 {
        font-size: 44px;
    }

    .profileLeft {
        min-width: 230px;
        max-width: 230px;
    }


}


@media (max-width: 767.98px) {
    body {
        font-size: 16px;
    }



    .container-fluid {
        padding: 0px 25px;
    }

    .beerImg {
        max-width: 220px;
        margin: 0 auto
    }

    .breweryBox {
        padding: 30px 20px;
    }

    .breweryBox h5 {
        font-size: 11px;
    }

    .breweryBoxImg {
        max-width: 120px;
        padding: 7px;
        margin-left: -40px;
    }

    .footerLinks li {
        margin-bottom: 8px;
    }

    .formBoxHold::after {
        margin-top: -32px;
        background-size: 575px auto;
    }

    .formBox {
        padding: 30px;
    }

    .innerbanner h1 {
        font-size: 35px;
    }

    .innerBannerImg {
        overflow: hidden;
    }

    .innerBannerImg img {
        max-width: inherit;
        width: 900px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .profileLeft {
        max-width: inherit;
        min-width: inherit;
        border: none;
        padding: 0;
        margin-bottom: 30px;
    }

    .profileRight {
        padding: 0;
    }

    .roundBox {
        padding: 24px;
    }

    .profileImgBlock {
        max-width: 300px;
        margin: 0 auto 30px auto;
    }

    .inviteFrndBox i.lni {
        font-size: 35px;
    }

    table.table thead th {
        font-size: 14px;
    }

    .flotingBoxContent {
        padding: 40px 24px;

    }
    .detailsGallery li {
        width: calc(25% - 0.5rem);
    }
}

@media (max-width:575.98px) {
    .formBoxHold::after {
        margin-top: -35px;
        background-size: 370px auto;
    }

}